##         Theory Questions & Answers
#1. What are data structures, and why are they important?
- Data structures are specialized for organizing, sorting, and managing data in a computer system, enabling efficient access and modification. They are fundamental to computer science & programming, providing a means to handle data effectively for various applications.
Importance of data structure:
1.   efficient Data Management.
2.   Optimized Performance.
3.   Problem-solving.
4.   scalability.

#2.   Explain the difference between mutable and immutable data types with examples.
- mutable Data Types
Mutable objects allow in place modification of their content without changing modification of their identity. common mutable data types include:
* Lists: ordered collections that can be modified by adding, removing, or changing elements.
Example:

In [ ]:
fruits = ['apple', 'banana', 'orange']
fruits[1] = 'mango'
print(fruits)

['apple', 'mango', 'orange']

In [ ]:
fruits.append('cherry')
print(fruits)

['apple', 'mango', 'orange', 'cherry']

Dictionaries: Collections of key-value paris that can be updated or expanded.
Example:

In [ ]:

person = {'name': 'John', 'age': 25}
person['age'] = 26
print(person)

{'name': 'John', 'age': 26}

In [ ]:
person['city'] = 'New York'
print(person)

{'name': 'John', 'age': 26, 'city': 'New York'}

Sets: Unordered collections of unique elements that can be modified by adding or removing items.
Example:

In [ ]:
colors ={'red', 'green', 'blue'}
colors.add('yellow')
print(colors)

{'yellow', 'red', 'blue', 'green'}

In [ ]:
colors.remove('green')
print(colors)

{'yellow', 'red', 'blue'}

* Immutable Data Types:It cannot be altered after creation;any modification results in the creation of a new object. common immutable data types include:
*  Strings: Sequences of characters that cannot be changed in place. Example:

In [ ]:
s = "I am a student"
print(s)

I am a student

In [ ]:
s.replace("student", "teacher")

'I am a teacher'

#3.  What are the main differences between lists and tuples in Python?
- In python, both lists and tuples are used to store collections of items. However, they have distinct characteristics that make them sutiable for different scenarios.

#4.  Describe how dictionaries store data?
- In python, dictionaries are implemented using a data structure called a hash table, which allows for efficient storage and retrieval of key-value pairs.

 #5. Why might you use a set instead of a list in Python?
 - In python, choosing between a set and a list depends on the specific requirements of task. While both can store collections of items, they have distinct in certain scenarios.

 #6. What is a string in Python, and how is it different from a list?
 - String: Immutable; once created, their content cannot be altered. any modification results in the creation of a new string.
 - Lists: Mutable; elements can be modified, added, or removed in place.

 -
 #7. How do tuples ensure data integrity in Python?
 - Preventing Unintended Modifications:Science tuples cannot be changed after their creation,they safeguard data from accidental alterations.
 - Enhancing Code Predictability:
 The immutable nature of tuples means that their contents are consistent and reliable.
 - Facilitating Safe Data Sharing:
 In multi-theaded applications, tuples can be shared betweentheards without the risk of one thread altering the data and causing inconsistencies for others.

 #8. What is a hash table, and how does it relate to dictionaries in Python?
 - Hashing Keys:
 When a key-value pair is added to a dictionary, python computes a hash value for keys using hash function.
 - Handiling collisions:
 different keys can produce the same hash value, leading to acollisions.python's dictionaries handle collisions using open addressing, where the algorithm searches for next avaliable slot in the array to store the new key-value pair.
 - Dynamic Resizing:
 As more elements are added , the dictionary dynamically resizes to maintain efficient access times.

 #9.  Can lists contain different data types in Python?
 -In python, lists can contain elements of different data types.

 #10.  Explain why strings are immutable in Python?
 - In python, strings are immutable, meaning that once a string is created, its content cannot be changed.

 #11.  What advantages do dictionaries offer over lists for certain tasks?
 - Both lists and dictionaries are fundamental data structures, each offering unique advantages tailored to specific tasks.

 #12. Describe a scenario where using a tuple would be preferable over a list.
 -

 Example:
 consider the need to store information about a book, such as title, author, and publication year. using a tuple.

In [ ]:
book_info = ("To kill a mockingbird", "Darshan", 2021)
book_info[0] = "Harry Potter"

TypeError: 'tuple' object does not support item assignment

such modifications lead to inconsistencies, especially if the data is intended to remain constant.employing a tuple to store related, unchanged data ensures data integrity, clarity, and optimal performance, making it a perferable choice over using a list.


#13. How do sets handle duplicate values in Python?
- sets are collections that automatically handle duplicate values by eliminating them.when you attempt to add an element to a set remains unchanged, ensuring all elements are unique.

#14.How does the “in” keyword work differently for lists and dictionaries?
- key Differences:
. Lists:
. in checks for the presence of the element as a whole.
. Dictionaries:
. in checks for the presence of a key.

#15.Can you modify the elements of a tuple? Explain why or why not
 - If you try to change an element of a tuple directly, python will raise a typeerror. tuples are data structure where you dont want to modify the data.
 tubles are immutable.

 #16.  What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in python is a dictionary where each key maps to another dictionary, allowing you to represent hierarchical or multi-level data.
 example:

In [ ]:
students = {
    'student1': {'name': 'arjun', 'age': 20, 'courses':['math', 'science']},
    'student2': {'name': 'ajay', 'age': 21, ' courses':['history', 'arts']},
    'student3': {'name': 'sanjay', 'age': 24, 'courses':['physics', 'chemistry']}

}

In [ ]:
ajay_age = students['student2']['age']
print(f"ajay's age: {ajay_age}")

ajay's age: 21

In [ ]:
sanjay_courses = students['student3']['courses']
print(f"sanjay's courses: {','.join(sanjay_courses)}")

sanjay's courses: physics,chemistry

#17. Describe the time complexity of accessing elements in a dictionary?
- dictionaries are implimented using hash tables, which allow for efficient data retrieval. The average time complexity for accessing an element in a dictionary is O(1), meaning that the time taken to access a value does not depend on the size of the dictionary.

#18.In what situations are lists preferred over dictionaries?
- choosing lists and dictionaries depends on the specific requirements of your data and the operations you need to perform.
. Maintaining Ordered Collections
. Sequential Data Processing
. Allowing Duplicate Elements
. Index-Based Access and Slicing
. Memory Efficiency with Small Datasets
. Simple Collections Without key-Value Association
in summary, lists are preferred over dictionaries when you need to maintain order, handel sequential data, allow duplicates,access elements by position, manage small datasets efficiently, or when your data doesn't necessitate key-value associations. choosing the appropriate data structure based on these considerations ensures optimal performance and code clarity.

#19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are implemented hash tables,which inherently do not maintain any specific order of their elements. this means that when you iterate over a dictionary,the items may appear in an arbitrary sequence, not necessarily in the order they were added. the primary reason for this unordered nature is to ensure optimal performance for key-based data retrieval.
impact on data retrieval:
1. Efficient key based access:Theunordered structure allows dictionaries to provide average-case O(1) time complexity for lookups, insertions, and deletions,making them highly efficient for accessing values based on their keys.
. Iteration order:
this means that when you iterate over a dictionary in python 3.7 and later, items will appear in the order they were added.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
- data retrival(lists):
accessing an element by its, index is efficient, with a time complexity of O(1). however, searching for an element by value requires scanning the list, resulting in a time complexity of O(n), where n is the number of elements.
- data retrieval(dictionaries):
retrieving a value by its key is highly efficient, typically with a time complexity of O(1), due underlying hash table implementation. This allows for quick looksups regardless of the dictionary's size.
-

Practical Questions:

In [ ]:
#1. Write a code to create a string with your name and print it
name = "Ajay"
print(name)

Ajay

In [ ]:
#2. Write a code to find the length of the string "Hello World"
string = "Hello World"
len(string)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming
string = "Python Programming"
string[0:3]

'Pyt'

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
string = "hello"
string.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ("red", "green", "blue", "yellow")
tuple1[1:]

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t1 = (10, 20, 5, 15)
min(t1)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ("dog", "cat", "rabbit")
tuple.index("cat")

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple2 = ("Apple", "Orange", "Kiwi", 1, 2.3, True, 3+5j)
"Kiwi" in tuple2

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
type(set1)

set

In [ ]:
set1

{'a', 'b', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1 = {1, 2, 3, 4, 5}
s1.clear()
s1

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set = {1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "VIjay", "Age": 25, "city": "Bangalore"}
d

{'name': 'VIjay', 'Age': 25, 'city': 'Bangalore'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {"Name": "John", "age": 25}
d["country"] = "usa"
d

{'Name': 'John', 'age': 25, 'country': 'usa'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {"name": 'Alice', "age": 30}
d["name"]

'Alice'

In [ ]:
d = {"key":1}
d["key"]

1

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {"name": "Bob", "age": 22, "city": "New york"}
del d ["age"]
d

{'name': 'Bob', 'city': 'New york'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {"name": "Alice", "city": "Paris"}
d["city"]

'Paris'

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
t1 = ("pwskills", "sham", 2, 2.3, True, 3+5j)
type(t1)

tuple

In [ ]:
t1

('pwskills', 'sham', 2, 2.3, True, (3+5j))

In [ ]:
grocery_list = ["Apple", "Milk", 1, 2.2, True, 3+5j]
type(grocery_list)

list

In [ ]:
grocery_list

['Apple', 'Milk', 1, 2.2, True, (3+5j)]

In [ ]:
d = {"name": "Ajay", "email": "aj@gmail.com", "contact": 12345}
type(d)

dict

In [ ]:
d

{'name': 'Ajay', 'email': 'aj@gmail.com', 'contact': 12345}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
 # result.(replaced)


list1 = [10, 20, 90, 60, 40]
list1.sort()
print(list1)

[10, 20, 40, 60, 90]

In [ ]:
index = list1.index(40)
list1[index] = 70
print(list1)

[10, 20, 70, 60, 90]

In [ ]:
list1.sort()
print(list1)

[10, 20, 60, 70, 90]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
fruits = ["apple", "banana", "cherry", "orange", "strawberry"]
fruits[3]

'orange'

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
library = {
    "book1": {
        "title": "Python Programming",
        "author": "Darshan",
        "year": 2021
    },
    "book2": {
        "title": "Java Programming",
        "author": "Alice",
        "year": 2020
    }
}
print(library)

{'book1': {'title': 'Python Programming', 'author': 'Darshan', 'year': 2021}, 'book2': {'title': 'Java Programming', 'author': 'Alice', 'year': 2020}}

In [1]:
#30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'apple', 'cherry', 'banana'}